// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font-Awesome
@import "~font-awesome/scss/font-awesome";

// Ionicons
@import "~ionicons/dist/css/ionicons.css";

// iCheck
@import "~icheck/skins/square/blue.css";

// Select2
@import "~select2/dist/css/select2.css";

// Bootstrap Datepicker
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";

// AdminLTE
@import "~admin-lte/dist/css/AdminLTE";
@import "~admin-lte/dist/css/skins/_all-skins";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.main-header .sidebar-toggle:before {
    content:'';
    position: absolute;
}

.p-0 { padding: 0 !important; }

.box[class*='box-'] { border: 1px solid transparent; border-top-width: 3px; }
.box.box-primary { border-color: #3c8dbc; }
.box.box-info { border-color: #00c0ef; }
.box.box-danger { border-color: #dd4b39; }
.box.box-warning { border-color: #f39c12; }
.box.box-success { border-color: #00a65a; }
.box.box-default { border-color: #d2d6de; }
